<%- include('partials/header.ejs') %>


    <section id="show">
        <div class="inside">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="contents">
                <div class="title"></div>
                <p class="description">
                    
                </p>
                <div class="show-btn">
                    <a class="delete-btn"href="/delete/">Delete</a>
                    <a class="edit-btn" href="/edit">Edit</a>
                </div>
             
            </div>
        </div>
    </section>





<%- include('partials/footer.ejs') %>